body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002F62;
    font-family: 'Rowdies',sans-serif;
}

.container {
    border-radius: 10px;
    width: 800px;
    height: 600px;
    background-color: #2E92FF;
    display: flex;
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}



.form-content {
    display: flex;
    width: 100%;
}



.form-login , .form-register {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}







.imagen-form ,  .imagen-desvanecimiento-inicio , .imagen-desvanecimiento-registro{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    transition: transform 0.6s ease-in-out; 
    border-radius: 10px;
    /*opacity: .8;  esto hace la opacidad del 80% como figma pero se trasluce el form*/
    z-index: 2;
}


.imagen-desvanecimiento-inicio{
    display: none;
}

.imagen-desvanecimiento-registro{
    display: block;
}


.desvanecer {
    display: none; /* Cambia la opacidad a 0 para hacerla invisible */
    transition: opacity 2s ease; /* Transición suave de 2 segundos */
}

.no-desvanecer{
    display: block;
}


.form-content h2 {
    font-size: 1rem;
    color: white;
    font-weight: lighter;

}

.registrate, .iniciar-sesion{
    color: #FFAC59;
    cursor: pointer; 
    -webkit-text-stroke: #002F62 0.7px;
    font-weight: bold;
}



input {
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    border: none;
    font-size: 1rem;
}

label {
    font-size: 1rem; 
    color: #F7F7F7;
    display: block;
    font-weight: lighter;
}



button {
    width: 216px;
    height: 47px;
    background-color: #00458F;
    color: #F7F7F7;
    font-size: 22px;
    font-family: 'Rowdies';
    border: 2px solid #F7F7F7;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    position: relative; 
    overflow: hidden;   /* Para ocultar la línea cuando no esté visible */
}

button::before {
    content: "";
    position: absolute;
    top: 400%; 
    left: -100%; 
    width: 300%;
    height: 200%;
    background: linear-gradient(135deg, rgba(17, 236, 225, 0.5), rgba(25, 26, 25, 0)); 
    transform: rotate(45deg);
    transition: all 0.25s ease; 
    z-index: 1;
}

button:hover::before {
    top: 0;
    left: 0;
    transition: all 0.25s ease; 
}

button:hover {
    background-color: #003366; 
}



.captcha {
    background-color:#0063CE;
    border:2px solid #F7F7F7;
	color:#F7F7F7;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    width: 234px    ; /* Ajusta el captcha al ancho completo del formulario */
    margin: 10px auto 0 auto; 
}



.imagen-captcha {
    width: 52px;
    height: 40px;
    margin-left: 30px;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.label-de-input{
    text-align: left;
    width: 62%;    
}



.texto-captcha {
    font-weight: lighter;
    display: flex;
    align-items: center; 
    font-size: 15px;
    margin-left: 10px;
}

.captcha-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.captcha input[type="checkbox"] {
    width: 22px;
    height: 22px;
    background-color: #F7F7F7;
    border: 2px solid #0063CE;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Espacio entre los iconos */
    margin-top: 16px; 
    cursor: pointer;
}

.imagen-facebook, .imagen-google {
    width: 40px;
    height: 40px;
}

.imagen-google{
    background-color: #F7F7F7;
    border-radius: 50%;
}

.input-con-logo{
    position: relative;

}

.input-icon {
    position: absolute;
    right: 10px; /* Ajusta la distancia desde el borde derecho del input */
    top: 50%; /* Centra verticalmente la imagen */
    transform: translateY(-50%); /* Ajusta la posición vertical de la imagen */
    width: 15px; /* Ajusta el tamaño de la imagen si es necesario */
    height: 17px; /* Ajusta el tamaño de la imagen si es necesario */
}

.iconos-y-h2 {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    position: relative  ;

}


.cargando {
    width: 20px;
    height: 20px;
    border: 3px solid #F7F7F7; /* Color del borde */
    border-top: 3px solid #FFAC59; /* Color del borde superior para el efecto de carga */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none; 
    margin-left: 10px; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



