
:root{
  --color-principal: rgb(0, 122, 255);
  --color-secundario: rgb(255, 150, 44);
  --color-negro: rgb(37, 36, 33);
  --color-blanco: rgb(247, 247, 247);

  --color-header:rgb(0, 122, 255);
  --color-barra-lateral:rgb(0, 99, 206);
  --color-footer:rgb(0, 122, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }*



body {
  width: 100%;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  font-family: 'Rowdies';
}
.contenido{
  height: 100vh;
}

h1 {
  font-size: 36px;
  line-height: 1.3em;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  font-weight: lighter;
}

h4 {
  font-size: 18px;
  font-weight: lighter;
}

p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

img{
  width: 100%;
  height: 100%;
}

::placeholder{
  color: rgb(161, 161, 161);
}

ul li{
  list-style: none;
  color: rgb(247, 247, 247);
}

a{
  text-decoration: none;
}

input:active{
  border: none;
}

input:focus{
  border: none;
}


/* ---------------- CABECERA  ---------------- */

.header {
  background:rgb(0, 122, 255);
  position:fixed;
  width: 100%;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecera-izq {
  display: flex;
  align-items: center;
}
.cabecera-izq-menu-hamburguesa{
  cursor: pointer;
  height: 35px;
  padding: 2px 10px;
}
.cabecera-izq-logo{
  display: none;
}
.cabecera-cen {
  display: flex;
  align-items: center;
}
.cabecera-cen-barradebusqueda{
  display: none;
}
.cabecera-cen-logo-xs{
  height: 50px;
}
.cabecera-der {
  display: flex;
  align-items: center;
}
.cabecera-der-btn-carrito{
  height: 30px;
  padding: 2px 5px;
}
.cabecera-der-btn-usuario{
  height: 30px;
  padding: 2px 10px 2px 5px;
} 

/* ---------------- MENU DESPLEGABLE ---------------- */

.menu-desplegable{ 
  display: flex;
  width: 200px;
  background-color: rgb(0, 99, 206);
  position:fixed;
  overflow: hidden;
  height: 100%;
  transition: width 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu-desplegable ul{
  width: 100%;
}
.menu-desplegable-barradebusqueda{
  width: 190px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: var(--color-blanco);
  display: flex;
  height: 30px;
  align-items: center;
  border-radius: 8px;
  margin: 10px 5px;
  
}
.menu-desplegable-barradebusqueda input{
  width: 155px;
  outline: none;
  border: none;
  background-color: var(--color-blanco);
}
.menu-desplegable-barradebusqueda img{
  height: 20px;
  width: 20px;
}
.menu-desplegable-item{
  display: flex;
  height: 25px;
  align-items: center;
  margin: 5px;
  margin-left: 12px;
}
.menu-desplegable-item a span{ 
  color: var(--color-blanco);
  margin: 0px 6px;
}
.menu-desplegable-item img{
  width: 25px;
}
.menu-desplegable-cerrado{
  width: 0px;
}

/* ---------------- PIE DE PAGINA ---------------- */

.footer {
  width: 100%;
}
.footer-superior{
  width: 100%;
  background: var(--color-footer);
  padding: 15px;
}
.footer-superior a{
  color: var(--color-blanco);
  font-weight: lighter;
  display: block;
  padding-top: 10px;
}
.footer-superior h3{
  color: var(--color-blanco);
  padding-bottom: 15px;
}
.footer-superior-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer-superior-logo img{
  width: 150px;
  height: auto;
}
.footer-superior-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.footer-superior-ayuda{
  border-right: 3px solid;
  border-color: var(--color-blanco);
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 30px;
}
.footer-superior-sobrenosotros{
  margin-top: 30px;
  padding-left: 30px;
}
.footer-superior-sobrenosotros-redessociales{
  height: 30px;
  display: flex;
}
.footer-superior-sobrenosotros-redessociales a{
  margin-right: 5px;
}
.footer-superior-linksdelsitio{
  border-right: 3px solid;
  border-color: var(--color-blanco);
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 30px;
}
.footer-superior-mediosdepago{
  margin-top: 30px;
  padding-left: 30px;
}
.footer-superior-mediosdepago img{
  width: 70px;
  height: auto;
  border-radius: 5px;
}
.footer-inferior{
  display: none;
}

@media (min-width:1000px){ /* ---------------- DESKTOP ---------------- */

  /* ---------------- CABECERA ---------------- */

  .cabecera-izq-menu-hamburguesa{
    height: 50px;
  }
  .cabecera-izq-logo{
    display: block;
    margin-left: 20px;
    height: 70px;
    width: auto;
  }
  .cabecera-cen-barradebusqueda{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    height: 40px;
    padding-right: 5px;
    padding-left: 15px;
    margin: 10px 0px;
  }
  .cabecera-cen-barradebusqueda input{
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--color-blanco);
  }

  .cabecera-cen-barradebusqueda img{
    height: 30px;
    width: auto;
  }
  .cabecera-cen-logo-xs{
    display: none;
  }
  .cabecera-der-btn-carrito{
    height: 45px;
    margin: 2px 5px;
  }
  .cabecera-der-btn-usuario{
    height: 45px;
    margin: 2px 10px 2px 5px;
  } 

  /* ---------------- MENU DESPLEGABLE ---------------- */
  
  .menu-desplegable{
    display: flex;
    width: 65px;
    background-color: rgb(0, 99, 206);
    position:fixed;
    overflow: hidden;
    height: 100%;
    transition: width 0.5s ease;
  }
  .menu-desplegable:hover{
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-desplegable ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .menu-desplegable-cerrado{
    width: 0px;
  }
  .menu-desplegable-item{
    display: flex;
    height: auto;
    align-items: center;
    margin: 15px;
    margin-left: 12px;
  }
  .menu-desplegable-item a img{
    width: 40px;
  }
  .menu-desplegable-item a span{
    margin-left: 25px;
    font-size: 22px;
  }
  .menu-desplegable-barradebusqueda{
    display: none;
  }

  /* ---------------- PIE DE PAGINA ---------------- */

  .footer-superior{
    display: flex;
    padding: 50px;
  }
  .footer-superior-logo{
    margin-left:30px;
  }
  .footer-superior-logo img{
    width: 180px;
    height: auto;
  }
  .footer-superior-grid{
    padding: 0px 200px;
    grid-template-columns: 25% 25% 25% 25%;
    height: 200px;
  }
  .footer-superior-ayuda{
    border-right: 3px solid;
    border-color: var(--color-blanco);
    margin-top: 0px;
    padding-right: 0px;
  }
  .footer-superior-sobrenosotros{
    border-right: 3px solid;
    border-color: var(--color-blanco);
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-superior-sobrenosotros-redessociales{
    height: 40px;
    display: flex;
  }
  .footer-superior-sobrenosotros-redessociales a{
    margin-right: 5px;
  }
  .footer-superior-linksdelsitio{
    border-right: 3px solid;
    border-color: var(--color-blanco);
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-superior-mediosdepago{
    margin-top: 0px;
    padding-left: 50px;
  }
  .footer-superior-mediosdepago img{
    width: 90px;
    height: auto;
  }
  .footer-inferior{
    color: var(--color-blanco);
    display: flex;
    background: var(--color-barra-lateral);
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer-inferior-links{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .footer-inferior-links a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: var(--color-blanco);
    margin: 0px 10px;
  }
  .footer-inferior-links a img{
    height: 20px;
    width: auto;
  }
  .footer-inferior-derechos{
    position:absolute;
    right: 20px;
  }
}