/* BODY */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }*

body {
  font-family: 'Rowdies';
  background-color: rgb(247, 247, 247);
  color: rgb(37, 36, 33);
}

h1 {
  font-size: 40px;
  line-height: 1.3em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: lighter;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
}

p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

img{
  width: 100%;
  height: 100%;
}

::placeholder{
  color: rgb(161, 161, 161);
}




/* ---------- CABECERA  ---------- */
.header {
  background:rgb(0, 122, 255);
  position:sticky;
  width: 100%;
  top: 0;
  height: 70px;
}

.header a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.cont-cabecera {
display: flex;
align-items: center;
justify-content: space-between;
height: 100%;
}

.cont-cabecera-izq {
  display: flex;
  align-items: center;
  height: 100%;
}

.cont-cabecera-cen {
  display: flex;
  align-items: center;
  height: 100%;
}

.cont-cabecera-der{
  display: flex;
  align-items: center;
  height: 100%;
}





#cont-cabecera-barradebusqueda{
  display: flex;
  background-color: aliceblue;
  align-items: center;
  width: 400px;
  border-radius: 20px;
  border-width: 0;
  height: 40px;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}
#cont-cabecera-barradebusqueda-lupa{
  
  height: 30px;
}
#cont-cabecera-barradebusqueda-input{
  width: 100%;
  height: 70%;
}
#cabecera-barradebusqueda-input{
  border:0;
  background-color: aliceblue;
  font-family: 'Rowdies';
  font-weight: 200;
  outline: none;
}


#cont-menu-hamburguesa{
  padding-left: 1rem;
  height: 40px;
}

#cont-cabecera-btn-carrito{
  padding-right: 1.5rem;
  height: 35px;
}

#cont-cabecera-btn-usuario{
  padding-right: 1.5rem;
  height: 35px;
} 

#cont-logo-img {
  float: left;
  height: 60px;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

#cont-logo-completo {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
}

.menu-desplegable{
  display: flex;
  background-color: rgb(0, 122, 255);
  position: absolute;
  height: 100vh;
  padding-top: 1rem;
}

ul li{
  list-style: none;
  color: rgb(247, 247, 247);
}

.cont-menu-desplegable-item-img{
  padding-left: 1rem;
  padding-right: 1rem;
}

.cont-menu-desplegable-item-nombre{
  display: none;
  padding-right: 2rem;
  transition-duration: 1s;
}

.menu-desplegable:hover .cont-menu-desplegable-item-nombre{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cont-menu-desplegable-item{
  display: flex;
  margin-bottom: 1rem;
  height: 35px;
}
/* ---------- TERMINA CABECERA  ---------- */






/* PIE DE PAGINA */
.footer {
    
  padding: 0.8rem 0;
  background: rgb(26, 26, 26);
  color: rgb(201, 25, 25);
  text-align: center;
}

.pie-de-pagina{
  color:azure;
  text-decoration: none;
  font-size: 0.8rem;
}
/* TERMINA PIE DE PAGINA */